    <section id="articles" class="spacenav">
        <h1>Les articles</h1>
        <div class="row">
            <div class="articlewrap small-12 medium-12 large-6 columns">
                <a href="{{@blog.url}}/wei">
                    <div class="article" style="background-image: url({{@blog.url}}/images/articles/wei.jpg);">
                        <h2>wei <span><i class="ion-chevron-right"></i></span></h2>
                    </div>                    
                </a>
            </div>
            <div class="articlewrap small-12 medium-12 large-6 columns">
                <a href="{{@blog.url}}/guide-de-survie">
                    <div class="article" style="background-image: url({{@blog.url}}/images/articles/survie.jpg);">
                        <h2>Guide de survie <span><i class="ion-chevron-right"></i></span></h2>
                    </div>                    
                </a>
            </div>
        </div>
        <div class="row">
            <div class="articlewrap small-12 medium-12 large-6 columns">
                <a href="{{@blog.url}}/associatif">
                    <div class="article" style="background-image: url({{@blog.url}}/images/articles/association.jpg);">
                        <h2>associatif <span><i class="ion-chevron-right"></i></span></h2>
                    </div>                    
                </a>
            </div>
            <div class="articlewrap small-12 medium-12 large-6 columns">
                <a href="{{@blog.url}}/cs">
                    <div class="article" style="background-image: url({{@blog.url}}/images/articles/sport.jpg);">
                        <h2>sports <span><i class="ion-chevron-right"></i></span></h2>
                    </div>                    
                </a>
            </div>
        </div>        
    </section>      